<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="dishesApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="dishesApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="dishesApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="dishesApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dishes Menu AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/ui-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/ui-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body ng-controller="DishesList">
  <table class="table">
    <thead class="thead">
    <tr>
      <th scope="col" ng-click="sort('title')">Title<i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('title'), 'glyphicon-chevron-down' : isSortDown('title')}"></i>
      </th>
      <th scope="col">Image</th>
      <th scope="col" ng-click="sort('rating')">Rating<i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('rating'), 'glyphicon-chevron-down' : isSortDown('rating')}"></i>
      </th>
      <th scope="col" ng-click="sort('price')">Price<i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('price'), 'glyphicon-chevron-down' : isSortDown('price')}"></i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="item" ng-repeat="dish in dishes | orderBy:sortField:reverse" ng-click="modalUpdate(dish)">
      <th scope="col">
        {{dish.title}}
      </th>
      <th scope="col">
        <div class="preview-img">
          <img ng-src="{{ dish.image }}" alt="{{ dish.title }}"/>
        </div>
      </th>
      <th scope="col">{{dish.rating}}</th>
      <th scope="col">{{dish.price}}</th>
    </tr>
    </tbody>
  </table>
</body>
</html>
