<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="dishesApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="dishesApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="dishesApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="dishesApp" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dishes Menu AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/ui-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/ui-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
</head>
<body ng-controller="DishesList">
  <table class="table">
    <thead class="thead">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" ng-model="query" placeholder="Filter all">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="resetAllStore()">Reset all</button>
      </span>
    </div>
    </br>
    <h3 class="text-center">{{query}}</h3>
    </br>
    <tr>
      <th>
        <input type="text" class="form-control" ng-model="filterByTitle.title" placeholder="Filter by Title">
      </th>
      <th />
      <th>
        <input type="number" class="form-control" ng-model="filterByRating.rating" placeholder="Filter by Rating">
      </th>
      <th>
        <input type="number" class="form-control" ng-model="filterByPrice.price" placeholder="Filter by Price">
      </th>
    </tr>
    <tr>
      <th scope="col" ng-click="sort('title')">
        Title
        <i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('title'),
                                        'glyphicon-chevron-down' : isSortDown('title')}"></i>
      </th>
      <th scope="col">Image</th>
      <th scope="col" ng-click="sort('rating')">Rating<i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('rating'), 'glyphicon-chevron-down' : isSortDown('rating')}"></i>
      </th>
      <th scope="col" ng-click="sort('price')">Price<i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('price'), 'glyphicon-chevron-down' : isSortDown('price')}"></i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="item" ng-repeat="dish in dishes | orderBy:sortField:reverse |
                                                  filter:query |
                                                  filter:filterByTitle |
                                                  filter:filterByRating |
                                                  filter:filterByPrice">
      <th scope="col" ng-click="modalUpdate(dish)">
        {{dish.title}}
      </th>
      <th scope="col">
        <div class="preview-img">
          <img ng-src="{{ dish.image }}" alt="{{ dish.title }}"/>
        </div>
      </th>
      <th scope="col">{{dish.rating}}</th>
      <th scope="col">{{dish.price}}</th>
    </tr>
    </tbody>
  </table>
</body>
</html>
